#php_value output_handler mb_output_handler
php_value mbstring.http_input auto
php_value mbstring.encoding_translation 0
php_value mbstring.language Japanese
php_value mbstring.substitute_character 0
#php_value output_buffering 1

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^.*php$ static.php [L]

order deny,allow

